

a {
  color: #00B7FF;
}

.fieldLebel {
	vertical-align: top;
	text-align: right;
}
#bgblue{
	background-image: url('Assets/images/blue-wave-lines-backgrounds-powerpoint.jpg');
	background-attachment: fixed;
	background-repeat: inherit;
	color: #FF9900;
}
